.navbar-light,.navbar-light {
  margin: 0 auto !important;
}

.nav-wrapper {
  background-color: #3f88c5;
}

#mapid { 
  height: 70vh; 
}

select, option:focus {
  outline: none !important;
  box-shadow: none !important;
}

h5 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.2rem !important;
}

.projectTitle {
  font-size: 25px !important;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
  .projectTitle {
    font-size: 20px !important;
  }
}
