@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar-light,.navbar-light {
  margin: 0 auto !important;
}

#mapid { 
  height: 70vh; 
}

select, option:focus {
  outline: none !important;
  box-shadow: none !important;
}

h5 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.2rem !important;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90% !important;
  }
}
